
@charset "UTF-8";

body {
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1{
    color: chartreuse;
    background-color: black;
}
h2{
    color: darkblue;
}
p{
    text-align: justify;
}
