@charset "UTF-8";

 body{ background-color: rgb(2, 119, 119);
    font-family: Arial, Helvetica, sans-serif;}
  
 
h1{
    color: aqua;
}

h2{
    color: rgb(89, 184, 184);
}
.basico {
    font-size: 7px;
}
.superior {
    font-size: 40px;
    color: darkblue;
 background-color: blueviolet;
}
#principal{
    color: black;
    text-align: center;}